<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Grrrrinder</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
    <h1>Grrrrinder</h1>
    <h3> "some catch phrase" </h3>
    <nav> 
        <ul>
            <li>
               <a href="#Login" > Login </a>
            </li>
            <li>
                <a href="#MatchandMeet"> Match and Meet</a>
            </li>
            <li>
                <a href="#Contact"> Contact</a>
            </li>
        </ul>
    </nav>

 <div class="images">
        <a href="https://link/" title="Pup photo"> <img src="assets/images/" alt="pup photo"> </a> 
        
    </div>

  {{{body}}}
</body>
</html>
