
<div class="cont">
  

<form class="form" id="form" method="post">
  <h2>Login</h2>
  <div>
    <label for="username">Username:</label>
    <input id="username" required name="username"/>
  </div>
  <div>
    <label for="password">Password:</label>
    <input id="password" type="password" required name="password"/>
  </div>
  <input class="button" type="submit" value="Login">
 
</form>
<script defer>
  document.getElementById("form").onsubmit = function(e) {
    e.preventDefault();

    const username = document.getElementById('username').value;
    const password = document.getElementById('password').value;

    fetch('/api/users/login/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            username,
            password
        })
    }).then(res => {
      if (res.status === 200) {
        res.json().then(res => {
          console.log(res);
          if (res.err) {
            alert(res.err);
          }
          else {
            window.location.href = "/";
          }
        });
      }
      else {
        alert('Invalid username/password!');
      }
    });
  };
</script>

  <div class="bg-img inner-cont">
    {{!-- <div class="img">  --}}
      <div class="img-text">
    <h1>Grrrr'inder</h1>
    <p>
      Welcome to Grrrr'inder, your modern alternative to traditional dog parks!
      Here you can connect with fellow dog owners to set up doggy play dates.
      Grrrr'inder provides a catered experience by allowing owners the ability
      to be more selective about the dogs their pet meets. Create an account and profile to
      get started today!
    </p>
    <div><a href="/signup"><h2>Create New Account!</h2></a></div>
  </div>

</div>
